/* Header */
header{
    background-color: $verdeOscuro;
    div{
        .logo{ /* logo de la página, que al apretarlo te lleva al inicio */
            border-radius: 20%;
            width: 200px;
            padding: 10px;
            justify-content: center;
            display: flex; 
        }
    }
    .pelota{ /* logo de la pelota de rugby en las páginas con Bootstrap */
        border-radius: 20%;
        width: 100px;
        padding: 10px;
        justify-content: center;
        display: flex; 
    }
    .bgVerde{/* fondo de la barra de navegación de la página Contacto */
        background-color: $contacto;
    }
    /*Barra de navegación con Responsive*/
    .barraNav{
        color: $verdeClaro;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        margin: 25px auto;
        height: 40px;
        text-align: center;
        border: $verdeOscuro;
        display: flex;
        flex-direction: row;
        justify-content:center;
        ul{ /* le saqué el diseño predeterminado a las listas del menú*/
            list-style-type: none;
        }
        li{
            display: inline-block;
            text-align: center;
            a{
                padding:20px;
                margin: 10px;
                text-decoration: none;
                color:rgb(207, 231, 207);
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                text-align: center;
                &:hover{
                    color: rgb(174, 144, 144);
                    font-style:italic; 
                }
            }
        }
    }
    /* Responsive para la barra de navegación */
    @media screen and (max-width: 768px) {
          .barraNav{
            width: auto;
            flex-direction: column;
          }  
    }
    @media screen and (max-width: 570px) {
        .barraNav{
          width: auto;
          flex-direction: column;
        }  
    }
    @media screen and (max-width: 460px) {
        .barraNav{
          width: auto;
          flex-direction: column;
        }  
    }
}
