/* Colores principales a utilizar */

$tituloPrincipal : rgb(5, 5, 54);
$barraNav: white;
$textNav: rgb(5, 5, 54);
$texth2: rgb(5, 5, 54);
$hoverNav: rgb(160, 143, 194);
$verdeOscuro: rgb(18, 37, 24);
$verdeClaro : rgb(170, 218, 170);
$fondo : rgb(213, 215, 215);
$cards: rgb(201, 220, 230);
$hoverCards : rgb(156, 177, 188);
$bordeCard: rgb(17, 2, 40);
$contacto : rgb(125, 171, 148);
$footer : rgb(5, 5, 54); 

