/* Colores principales a utilizar */

$tituloPrincipal : rgb(223, 240, 230);
$verdeOscuro : rgb(18, 37, 24);
$verdeClaro : rgb(170, 218, 170);
$cards : rgb(240, 240, 197);
$bordeCard: rgb(17, 2, 40);
$contacto : rgb(125, 171, 148);
$footer : rgb(194, 239, 225) ; 